body{
    margin: 0;
}

.user {
    background-color: orange;
    width: 30%;
    margin: 20px 0;
    color: black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}

#container {
    background-color: gray;
    display: flex;
    flex-wrap:  wrap;
    justify-content: space-between;
    padding: 40px 50px;
}

.name, .city, .email{
    padding: 10px;
}